@model IEnumerable<PersonModel>

<div class="container">
	<button type="submit">Add</button>
	<div>
		@if(Model.Count() > 0)
		{
			@foreach (var person in Model)
			{
				<div class="row">
					<p>@person.Name @person.Cpf @person.PhoneNumber</p>
					
				</div>
			}
		}
		</div>
	</div>